/*BODY*/
body
{
	background-color: #FEC0EC;
}

/*CONNEXION*/
h2
{
	text-align: center;
	vertical-align: top;
	color: #FE00B2;
	text-decoration-line: underline;
}

div#connexion
{
	text-align: center;
	vertical-align: top;
	color: #FE00B2;
}

div#connexion a
{
	color: #FE00B2;
}