/*BODY*/
body
{
	background-color: #FEC0EC;
}

/*MENU*/
nav.menu
{
	padding-left: 250px;
}
nav.menu ul li
{
	display:  inline-block; 
	list-style-type: none;
	padding-left: 10px;
	text-align: center;
}
nav.menu ul li a
{
	color: #FE00B2;
	font-size: 50px;
	text-decoration: none;
}
nav.menu ul li:hover a
{
	color:  #FEC0EC;
	background: #FE00B2;
	transition: 0.4s all;
}

nav.menu ul li.connexion a
{
	font-size: 20px;
}
nav.menu ul li.inscription a
{
	font-size: 20px;
}
